#productos-pagina-cont{
    background-image: url('../../../public/images/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 70px;
}

.inputTexto{
    width: 300px;
    border-radius: 30px;
    padding: 8px;
    background-color: rgba(204, 201, 201, 0.219);
    transition: .3s ease-in-out;
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
}

.inputTexto:focus, .inputTexto:hover{
    background: rgba(194, 73, 162, 0.39);
   border: none;
}

.inputTexto::placeholder{
    color: #000;
    text-align: center;
}

#container-cards__productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 4rem;
}

/* .search{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    border: 1px solid white;
    overflow: hidden;
    background-image: url(../../../public//images/search.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
}

.search:hover{
    border: 1px solid #ff9950;
}

.search:focus{
    width: 200px;
    cursor: text;
    padding-left: 40px;
    color: white;
    outline: none;
    background-color: transparent;
    border: 1px solid #ff9950;
    background: url('../../../public/images/search.png') no-repeat;
    background-size: 22px;
    background-position: 10px 50%;
}
 */