#productos-pagina-cont{
    background-image: url('../../../public/images/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
    margin-top: 4rem;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 70px;
}