/* ? Mobile */
@media screen and (min-width: 320px) {
  #container-general__SignIn {
    /* border: 2px solid red; */
    height: 90vh;
  }

  .containers-generales_signIn {
    /* border: 2px solid seagreen; */
    height: 100%;
  }

  /* ? Display none a container 1 en mobile */
  .containers-generales_signIn:nth-child(1) {
    display: none;
  }

  /* ? Contenedor 2 del formulario en mobile */
  .containers-generales_signIn:nth-child(2) {
    display: flex;
    flex-direction: column;
    background-image: url(../../../public/images/fondo.signinMobile2.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.52);
  }

  .container-inputs__signIn {
    display: flex;
    flex-direction: column;
  }

  #titulo-iniciarSesion__signIn {
    font-weight: 200;
    margin-top: 3.5rem;
    margin-left: 1rem;
    color: rgb(221, 220, 220);
  }

  #formulario-singIn {
    padding: 2rem;
  }

  .labelForm-SI {
    text-align: center;
    margin: 15px 0px;
    color: rgb(148, 53, 123);
    font-size: 18px;
  }

  .input-SI {
    padding: 5px;
    font-size: 13.2px;
    padding-left: 0.5rem;
    border: none;
    background: transparent;
    border-bottom: 1px solid gray;
    color: white;
  }

  .input-SI:focus {
    padding: 8px;
    transition: 0.5s ease;
    color: white;
    font-weight: 200;
  }

  #container-buttonSubmit__signIn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
  }

  #button-submit__signIn {
    align-self: center;
    padding: 5px;
    width: 65%;
    border: none;
    background-color: rgb(117, 39, 97);
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 300;
  }

  #titulo_noTenesCuenta__signIn {
    text-decoration: none;
    text-align: center;
    margin: 8px 0;
    color: white;
    font-weight: 200;
  }
}

@media screen and (min-width: 768px) {
  #formulario-singIn {
    width: 70%;
  }

  .containers-generales_signIn:nth-child(2) {
    align-items: center;
  }

  .labelForm-SI {
    font-size: 22px;
  }

  .input-SI {
    font-size: 16px;
  }

  #button-submit__signIn {
    width: 50%;
    margin: 1rem 0;
  }

  #titulo_noTenesCuenta__signIn {
    margin: 10px 0;
    color: white;
    font-weight: 400;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  #container-general__SignIn {
    display: flex;
  }
  #formulario-singIn {
    width: 80%;
  }

  .containers-generales_signIn:nth-child(1) {
    display: inline-block;
    width: 65%;
    background-image: url(../../../public/images/fondo-signin.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.212);
    background-position-x: -80px;
  }

  .containers-generales_signIn:nth-child(2) {
    align-items: center;
    background: none;
    background-color: white;
    width: 35%;
    justify-content: center;
  }

  #button-submit__signIn {
    width: 50%;
    margin: 1rem 0;
    padding: 10px;
  }

  #titulo_noTenesCuenta__signIn {
    color: black;
    font-weight: 300;
  }

  #titulo-iniciarSesion__signIn{
    color: black;
  }

  .input-SI {
    color: black ;
  }

  .input-SI:focus {
    color: black;
    font-weight: 300;
  }
}
