@media screen and (min-width: 360px) {
  .boton-carritoCont {
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: .3rem;
    right: 0;
    z-index: 10;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    width: 3.5rem !important;
    height: 3.5rem !important;
  }

  .icono-carrito {
    color: #ddd;
    width: 65%;
    height: 65%;
    padding: 2px;
  }
}

.boton-carritoCont:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 20px rgba(194, 73, 162, 1);
}

/*  ----- MEDIA QUERIES ------ */

@media screen and (max-width: 480px) {
  .boton-carritoCont {
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 10px rgba(194, 73, 162, 1);
  }
}

@media screen and (max-width: 750px) {
  .boton-carritoCont {
    margin-right: 1rem;
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .boton-carritoCont {
    margin-right: 1rem;
    width: 4rem !important;
    height: 4rem !important;
    bottom: 1.5rem;
    right: .5rem;
  }
}
