@media screen and (min-width: 320px) {
  #logo-salute__navbar {
    width: 65%;
  }

  #Brand_navbar {
    width: 30%;
  }

  #Navbar_navbar {
    background-color: black !important;
  }

  #link-Inicio-Cerrar_navbar{
    color: #c249a2  ;
  }
}

@media screen and (min-width: 768px) {
  #logo-salute__navbar {
    width: 40%;
  }

  #items-nav__navbar{
    display: flex !important;
    align-items: end;
  }

  #container-Inicio-Cerrar__navbar{
     border: 2px solid sandybrown;
     align-self: flex-end;
   }
}

@media screen and (min-width: 1024px) {
  #logo-salute__navbar {
    width: 55%;
  }

  #items-nav__navbar{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  #container-items-links__navbar{
   /*  border: 2px solid green; */
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    gap: 3rem;
  }

  #Brand_navbar {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  #container-cierre-inicio__navbar{
    /* border: 2px solid brown; */
    width: 20%;
    display: flex;
    justify-content: center;
  }

  #container-linksPrincipales__navbar{
    width: 85%;
    display: flex;
    justify-content: center;
    padding-left: 8rem;
    gap: 3rem;
  }
}

