@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@800&display=swap");

@media screen and (min-width: 320px) {
  #container-general__carousel {
    /* border: 2px solid red; */
    margin: 2rem 0;
  }

  #tituloProductos__carousel {
    color: #b1258b;
    margin-left: 0.7rem;
    font-size: 32px;
    font-weight: 300;
  }

  /* ? Contenedor donde aplicamos el flex del carousel */
  #container-cards__carousel {
    /* border: 2px solid violet; */
    display: flex;
    min-height: 78vh;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 0.7rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  /* ? Contenedor de cada card */
  .card_carousel {
    /* border: 3px solid greenyellow; */
    width: 85%;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease-out;
  }

  .container-image-card__carousel {
    /* border: 2px solid blue; */
    min-height: 10vh;
    width: 100%;
    height: 80%;
  }

  .imagen-card__carousel {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #container-body-card__carousel {
    /* border: 2px solid rebeccapurple; */
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 13px;
  }

  .item-card__carousel:nth-child(1) {
    font-size: 20px;
    font-weight: 300;
  }

  .item-card__carousel:nth-child(2) {
    font-size: 18px;
    color: gray;
    font-weight: 400;
  }

  #contenedor-boton-compra__carousel {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .item-card__carousel-separado {
    font-size: 17px;
    font-weight: 700;
    color: #b1258b;
    /* border: 2px solid blue; */
    margin-top: 5px;
  }

  #button-agregar__carousel {
    /* border: 2px solid red; */
    height: 100%;
    width: 12%;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  #tituloProductos__carousel {
    margin-left: 1rem;
    font-size: 2.2rem;
    margin-top: 2.5rem;
  }

  #container-cards__carousel {
    /* border: 2px solid violet; */
    height: 70vh;
    margin-top: 1.5rem;
  }

  .card_carousel {
    /* border: 3px solid greenyellow; */
    width: 45%;
  }

  .item-card__carousel:nth-child(1) {
    font-size: 22px;
    font-weight: 400;
  }

  .item-card__carousel:nth-child(2) {
    font-size: 20px;
    color: gray;
    font-weight: 500;
  }

  .item-card__carousel-separado {
    font-size: 19px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1280px) {
  #tituloProductos__carousel {
    margin-left: 1.5rem;
    font-size: 2.1rem;
  }

  .card_carousel {
    /* border: 3px solid greenyellow; */
    width: 25%;
  }
}

@media screen and (min-width: 1440px) {
  #container-general__carousel {
    /* border: 2px solid red; */
    height: 76vh;
  }

  #tituloProductos__carousel {
    margin-left: 3rem;
    font-size: 2rem;
    margin-top: 3rem;
  }

  .card_carousel {
    /* border: 3px solid greenyellow; */
    width: 21%;
    height: 70vh;
  }

  #container-cards__carousel {
    margin-top: 2rem;
  }

  .container-image-card__carousel {
    height: 75%;
  }

  #container-body-card__carousel {
    height: 25%;
  }

  .item-card__carousel:nth-child(1) {
    font-size: 17px;
  }

  .item-card__carousel:nth-child(2) {
    font-size: 15px;
    margin-top: 5px;
  }

  .item-card__carousel-separado {
    font-size: 17px;
  }
}

@media screen and (min-width: 1920px) {
  #container-general__carousel {
    /* border: 2px solid red; */
    height: 70vh;
  }

  #tituloProductos__carousel {
    margin-left: 1.5rem;
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .card_carousel {
    /* border: 3px solid greenyellow; */
    width: 28%;
    height: 63vh;
  }

  #container-cards__carousel {
    margin-top: 2rem;
    gap: 2rem;
  }

  .container-image-card__carousel {
    height: 80%;
  }

  #container-body-card__carousel {
    /* border: 2px solid red; */
    height: 20%;
  }

  .item-card__carousel:nth-child(1) {
    font-size: 26px;
    margin-top: 7px;
    font-weight: 500;
  }

  .item-card__carousel:nth-child(2) {
    font-size: 23px;
    margin-top: 10px;
  }

  .item-card__carousel-separado {
    font-size: 26px;
  }

  #button-agregar__carousel {
    width: 10%;
  }
}

