#item-Cont{
    display: flex;
    align-items: center;
    background-color: #131313e6;
    padding: 10px;
    border: 1px solid #252525;
}

.foto-itemCarrito{
    width: 20%;
    height: 100px;
    object-fit: cover;
}

.info-itemCarrito{
    display: flex;
    flex-direction: column;
    width: 73%;
    padding: 0 20px;
    gap: 5px;
}

#nombre-itemCarrito{
    font-size: 1.5rem;
    font-weight: 500;
}

#tipo-itemCarrito{
    font-size: .9rem;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 2px;
}

#precio-itemCarrito{
    font-size: 1.2rem;
    font-weight: 400;
}

.borrar-itemCarrito{
    width: 7%;
    height: max-content;
    color: white;
    cursor: pointer;
}

/* 
* -----------------
* MEDIA QUERIES
* -----------------
*/

@media screen and (max-width: 990px){
    #nombre-itemCarrito{
        font-size: 1.1rem;
    }
    #tipo-itemCarrito{
        font-size: .7rem;
    }
    .foto-itemCarrito{
        height: 80px;
    }
}

@media screen and (max-width: 450px){
    .foto-itemCarrito{
        width: 30%;
        height: 70px;
    }

    .info-itemCarrito{
        width: 60%;
    }

    #nombre-itemCarrito{
        font-size: 1rem;
    }

    .borrar-itemCarrito{
        width: 10%;
    }
}