#item-Cont{
    display: flex;
    align-items: center;
    background-color: #131313e6;
    padding: 10px;
    border: 1px solid #252525;
}

.foto-itemCarrito{
    width: 20%;
    height: 100px;
    object-fit: cover;
}

.info-itemCarrito{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0 20px;
    gap: 5px;
}

#nombre-itemCarrito{
    font-size: 1.5rem;
    font-weight: 500;
}

#tipo-itemCarrito{
    font-size: .9rem;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 2px;
}

#precio-itemCarrito{
    font-size: 1.2rem;
    font-weight: 400;
}

.btn-itemCarrito{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.borrar-itemCarrito{
    width: 50%;
    height: max-content;
    color: white;
    cursor: pointer;
}

.borrar-itemCarrito:hover{
    color: red
}

.btn2-itemCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#cantidad-itemCarrito{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

.restar-itemCarrito, .sumar-itemCarrito{
    color: #fff;
    width: 25%;
    height: fit-content;
    cursor: pointer;
}

.restar-itemCarrito:hover{
    color: red;
    background-color: #252525;
    border-radius: 50%;
}

.sumar-itemCarrito:hover{
    color: rgb(151, 252, 0);
    background-color: #252525;
    border-radius: 50%;
}
/* 
* -----------------
* MEDIA QUERIES
* -----------------
*/

@media screen and (max-width: 990px){
    #nombre-itemCarrito{
        font-size: 1.1rem;
    }
    #tipo-itemCarrito{
        font-size: .7rem;
    }
    .foto-itemCarrito{
        height: 80px;
    }
    .btn-itemCarrito{
        width: 20%;
    }
    .restar-itemCarrito, .sumar-itemCarrito{
        width: 100%;
        height: fit-content;
        cursor: pointer;
    }
}

@media screen and (max-width: 450px){
    .foto-itemCarrito{
        width: 30%;
        height: 70px;
    }

    .info-itemCarrito{
        width: 60%;
    }

    #nombre-itemCarrito{
        font-size: 1rem;
    }

    .borrar-itemCarrito{
        width: 10%;
    }

    .btn-itemCarrito{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .borrar-itemCarrito{
        width: 90%;
    }
    
    .btn2-itemCarrito{
        flex-direction: column-reverse;
        gap: 5px;
    }
    
    #cantidad-itemCarrito{
        font-size: 1rem;
    }
    
    .restar-itemCarrito, .sumar-itemCarrito{
        width: 50%;
        height: fit-content;
        cursor: pointer;
    }
    
}