:root{
    --rosa-primario: #c249a2;
    --rosa-oscuro: #c249a25c;
}

#carrito-paginaCont {
    background-image: url("../../../public/images/fondo3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000cb;
    background-blend-mode: multiply;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0;
}

.primerCont-carrito{
    background-color: #000000e6;
    width: 40%;
    padding: 40px;
}

.primerCont-carrito h2{
    color: #ddd;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.primerCont-carrito span{
    color: #ddd;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 200;
}

.item-carritoCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 90%;
    gap: 1rem;
}

.segundoCont-carrito{
    background-color: #000000e6;
    width: 20%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.segundoCont-carrito h2{
    color: #ddd;
    font-weight: bold;
    font-size: 2.2rem;
}

.total-carritoCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.subtotal-carritoCont{
    display: flex;
    justify-content: space-between;
}

#cantidad-carrito{
    color: #ddd;
    font-size: 1.3rem;
    font-weight: 200;
}

#subtotal-carrito{
    color: #ddd;
    font-size: 1.3rem;
    font-weight: 200;
}

#select-zona-carrito{
    background-color: #0000007c;
    color: #ddd;
}

#total-carrito{
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 200;
}


#boton-pagar{
    color: #ddd;
    background-color: var(--rosa-oscuro);
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

/* 
* ---------------------
* MEDIA QUERIES
* ---------------------
*/

@media screen and (max-width: 1200px) {
    .primerCont-carrito{
        width: 50%;
    }
    .segundoCont-carrito{
        width: 30%;
    }
}

@media screen and (max-width: 990px){
    .primerCont-carrito h2{
        font-size: 1.8rem;
    }

    .segundoCont-carrito h2{
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    #carrito-paginaCont{
        padding: 6% 0;
    }
}

@media screen and (max-width: 800px){
    #carrito-paginaCont{
        flex-direction: column;
        align-items: center;
        padding: 14% 0;
    }

    .primerCont-carrito{
        width: 95%;
    }

    .primerCont-carrito h2{
        font-size: 1.6rem;
        line-height: 1.6rem
    }

    .segundoCont-carrito{
        width: 95%;
    }

    .item-carritoCont{
        width: 100%;
    }
}