:root{
    --rosa-primario: #c249a2;
    --rosa-oscuro: #c249a25c;
}

#carrito-paginaCont {
    background-image: url("../../../public/images/fondo3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000cb;
    background-blend-mode: multiply;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0;
}

.primerCont-carrito{
    background-color: #000000e6;
    width: 40%;
    padding: 40px;
}

.primerCont-carrito h2{
    color: #ddd;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.primerCont-carrito span{
    color: #ddd;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 200;
}

.item-carritoCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 90%;
    gap: 1rem;
}

.segundoCont-carrito{
    background-color: #000000e6;
    width: 20%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.segundoCont-carrito h2{
    color: #ddd;
    font-weight: bold;
    font-size: 2.2rem;
}

.total-carritoCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding-bottom: 5px;
}

.subtotal-carritoCont{
    display: flex;
    justify-content: space-between;
}

#cantidad-carrito{
    color: #ddd;
    font-size: 1.3rem;
    font-weight: 200;
}

#subtotal-carrito{
    color: #ddd;
    font-size: 1.3rem;
    font-weight: 200;
}

#select-zona-carrito{
    background-color: #0000007c;
    color: #ddd;
}

#total-carrito{
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 200;
}


#boton-pagar{
    color: #ddd;
    background-color: var(--rosa-oscuro);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    transition: .4s ease-in-out;
    letter-spacing: 2px;
}

#boton-pagar:hover{
    background-color: var(--rosa-primario);
    border-radius: 20px;
    transition: .4s ease-in-out;
    color: #000;
    letter-spacing: 4px;
}

.inputCarrito::-webkit-outer-spin-button,
.inputCarrito::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.datos-comprador-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.datos-comprador-cont>span{
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}

.datos-comprador-cont label{
    display: flex;
    flex-direction: column;
    color: #ddd;
}

.datos-comprador-cont label input{
    background-color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px;
}

#label-celular{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

#label-celular span{
    background-color: #ddd;
    color: #000;
    font-size: 1.2rem;
    padding: 2px 4px;
    line-height: 1.5rem;
    border-radius: 2px;
}

#label-celular input{
    width: 100%;
}

.boton-mapa-carrito{
    background-color: #c249a2;
    color: #ddd;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.mapa-abierto{
    position: absolute;
    background-color: #0b0b0b;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    height: 50%;
}

.mapa-abierto span{
    font-size: 1.3rem;
    line-height: 1.3rem;
    cursor: pointer;
    color: #ddd;
}

.mapa-abierto span:hover{
    color: rgba(255, 0, 0, 0.369);
}

.mapa-cerrado{
    display: none;
}

.mapa-carrito{
    width: 100%;
    height: 100%;
}

/* 
* ---------------------
* MEDIA QUERIES
* ---------------------
*/

@media screen and (max-width: 1200px) {
    .primerCont-carrito{
        width: 50%;
    }
    .segundoCont-carrito{
        width: 30%;
    }
}

@media screen and (max-width: 990px){
    .primerCont-carrito h2{
        font-size: 1.8rem;
    }

    .segundoCont-carrito h2{
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    #carrito-paginaCont{
        padding: 6% 0;
    }
}

@media screen and (max-width: 800px){
    #carrito-paginaCont{
        flex-direction: column;
        align-items: center;
        padding: 14% 0;
    }

    .primerCont-carrito{
        width: 95%;
    }

    .primerCont-carrito h2{
        font-size: 1.6rem;
        line-height: 1.6rem
    }

    .segundoCont-carrito{
        width: 95%;
    }

    .item-carritoCont{
        width: 100%;
    }
}