@media screen and (min-width: 320px) and (max-width: 428px) {
  #container-banner-foto__banner {
    width: 100%;
    background-image: url(../../../public/images/banner1.jpg);
    height: 100vh;
    background-size: cover;
    display: none;
  }

  #container-principal__banner {
    height: 100vh;
  }

  #container-banner-video__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
  }

  #container-video-texto__banner {
    display: flex;
    flex-direction: columns;
    align-items: center;
    text-align: justify;
    height: 100%;
  }

  #video__banner {
    z-index: -1;
  }

  #container-textos__banner {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1px;
  }

  .titulo__bienvenido__banner {
    z-index: 0;
    color: white;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-top: 6rem;
    margin-left: 5px;
  }

  #button-catalogo__banner {
    width: 70%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: #912e76;
    margin-top: 0.5rem;
    font-weight: 400;
  }

  #container-web-approbed__banner_sm {
    /* border: 2px solid red; */
    display: flex;
    gap: 0.1rem;
    align-items: center;
  }

  #logo-check__banner_sm {
    color: cyan;
    width: 1.5rem;
    height: 100%;
  }

  .titulo-webOficial__banner_sm {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 6px;
  }
}

/*! Media Query para ocultar contenido en Mobile */
@media screen and (min-width: 320px) and (max-width: 1220px) {
  #container-contactos__banner {
    display: none;
  }
}

/* * Inicio de Media query de 768px */
@media screen and (min-width: 768px) {
  #container-banner-foto__banner {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
      url(../../../public/images/banner1.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 0.2rem;
  }

  #container-banner-video__banner {
    display: none;
  }

  .titulo__bienvenido__banner,
  .titulo-webOficial__banner,
  #container-web-approbed__banner_sm,
  #button-catalogo__banner {
    display: none;
  }

  .titulo__bienvenido__banner-lg {
    z-index: 0;
    color: white;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-top: 6.5rem;
  }

  .titulo-webOficial__banner-lg {
    color: rgb(172, 165, 165);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  #button-catalogo__banner-lg {
    width: 40%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: #912e76;
    margin-top: 0.3rem;
    font-weight: 300;
  }

  #container-web-approbed__banner {
    display: flex;
    align-items: center;
    width: 30%;
  }

  #logo-check__banner {
    color: cyan;
    width: 1.8rem;
    height: 100%;
    margin-bottom: 1rem;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1220px) {
  #container-banner-foto__banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url(../../../public/images/banner1.jpg);
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row-reverse;
    /* background-position: 0px -50px; */
  }

  #container-contactos__banner {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 3rem;
  }

  #titulo-contacto__banner {
    color: white;
    margin-top: 2rem;
    font-weight: 100;
    font-size: 30px;
    width: 40%;
    text-align: center;
    letter-spacing: 1px;
  }

  #container-refs__banner {
    width: 38%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 1rem;
  }

  .ref__banner {
    color: rgb(172, 172, 172);
    background-color: rgba(44, 44, 44, 0.39);
    padding: 10px;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 40%;
    cursor: pointer;
    transition: 0.5s ease;
  }

  #ref-banner-1 {
    color: #e655d2;
  }

  #ref-banner-2 {
    color: #63c14e;
  }

  #ref-banner-3 {
    color: #e83f33;
  }

  .ref__banner:hover {
    color: #ad22a9;
    background-color: rgba(20, 20, 20, 0.733);
  }

  #container-web-approbed__banner {
    /*  border: 2px solid blue; */
    display: flex;
    align-items: center;
    width: 80%;
  }

  #container-titulos__banner {
    /* border: 2px solid greenyellow; */
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .titulo__bienvenido__banner-lg {
    z-index: 0;
    color: white;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-top: 24.5rem;
    margin-left: 1rem;
  }

  .titulo-webOficial__banner-lg {
    color: rgb(129, 125, 125);
    margin-left: 1rem;
    font-size: 21px;
    margin-top: 0.3rem;
  }

  #button-catalogo__banner-lg {
    width: 35%;
    font-size: 17px;
    padding: 10px;
    background-color: #721c5b;
    margin-top: 0.3rem;
    font-weight: 300;
    margin-left: 0.8rem;
  }

  #logo-check__banner {
    color: cyan;
    height: 100%;
    margin-bottom: 12px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .titulo__bienvenido__banner-lg {
    margin-top: 28.5rem;
  }

  #button-catalogo__banner-lg {
    width: 32%;
    transition: 0.5s ease;
  }

  #button-catalogo__banner-lg:hover {
    background-color: #50103f;
  }
}

@media screen and (min-width: 1920px) {
  .titulo__bienvenido__banner-lg {
    margin-top: 23rem;
    font-size: 37px;
  }

  #button-catalogo__banner-lg {
    width: 28%;
  }

  #titulo-contacto__banner {
    padding-left: 5rem;
  }

  #container-banner-foto__banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url(../../../public/images/banner1.jpg);
  }
}
